body{
  background:#D8D8D8;
  margin:0px;
  font-family:"calibri";
}

#topbar{
  background-color:#DF01A5;
  width:100%;
  height:75px;
  text-indent:20px;
  white-space:nowrap;
  position:fixed;
  padding:0px;
  margin:0px;
  z-index:999;
}

#sidebar{
  width:125px;
  height:100%;
  position:fixed;
  margin:75px 0px 0px 0px;
  padding:10px;
  text-align:center;
  background-color:#FA58AC;
}
  
#content{
  float:right;
  margin:100px 200px;
  text-align:justify;
  position:absolute;
  background:#D8D8D8;
}
  
a.anchor{
  display:block;
  position:relative;
  top:-90px;
  visibility:hidden;
}
  
a, a:link, a:visited, a:active{
  color:#000000;
  text-decoration:none;
}
  
a:hover{
  color:#000000;
  text-shadow: 0 0 0.2em #3CDFFC;
  text-decoration:none;
}

#moveit {
  background:black;
}

#moveit h2{
  color:white;
  padding:5px;
  -webkit-animation-name: foo;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;	
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  animation-name: foo;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;	
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes foo{
  0%{color:#BE81F7}
  16%{color:#FF0040;}
  32%{color:#FE642E;}
  48%{color:#FFFF00;}
  64%{color:#00FF40;}
  80%{color:#2ECCFA:}
  100%{color:#BE81F7;}
}

@-webkit-keyframes foo{
  0%{color:#BE81F7}
  16%{color:#FF0040;}
  32%{color:#FE642E;}
  48%{color:#FFFF00;}
  64%{color:#00FF40;}
  80%{color:#2ECCFA:}
  100%{color:#BE81F7;}
}

#entrance{
  color:white;
  -webkit-animation-name: entrance;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;	
  -webkit-animation-direction: normal;
  -webkit-animation-delay: 0;
  -webkit-animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
  animation-name: entrance;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: 1;	
  animation-direction: normal;
  animation-delay: 0;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@-webkit-keyframes entrance {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes entrance {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
